.content-wrapper {
  border-radius: 3px;
  /* box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04); */
  background-color: #fff;
  padding: 20px 30px;
  overflow: hidden;
}

.full-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px - 40px);
}

.el-table__header .el-checkbox {
  padding-left: 4px;
}

.filter-form input {
  width: 140px;
}

.filter-wrapper .el-date-editor {
  width: 100%;
}

.filter-collapse-btn i {
  transition: all 0.3s;
}

.filter-collapse-btn i.pack-up {
  transform: rotate(180deg);
}

.image-error-slot {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.large-form .el-form-item {
  margin-bottom: 36px;
}

.large-table .el-table__row td {
  padding: 26px 0;
}

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
.custom-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 20px;
  background-color: #fbfbfb;
}

/*定义滚动条轨道
 内阴影+圆角*/
.custom-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

/*定义滑块
 内阴影+圆角*/
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ddd;
}

/* extend element */
.el-scrollbar {
  height: 100%;
}

.el-scrollbar__wrap {
  overflow-x: hidden;
}

.el-select-dropdown__wrap.el-scrollbar__wrap {
  margin-bottom: 0 !important;
}

.el-popconfirm__main {
  padding: 10px 0 20px 0;
}

.el-dropdown {
  color: var(--theme-color);
}

.focusing {
  outline: none;
}

.el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled) {
  box-shadow: none;
}

.el-image-viewer__close {
  color: rgba(255, 255, 255, 0.8);
}

.el-drawer__body {
  height: 100%;
}
